/* @import url("https://fonts.cdnfonts.com/css/archive"); */
@font-face {
  font-family: "Archive";
  src: url("./fonts/Archive.otf") format("opentype");
  /* text-transform: none !important; */
}

html,
body {
  /* background-color: rgb(253, 253, 253); */
  /* font-family: "Archive" !important; */
  color: #d2d3d4;
  overflow-x: hidden !important;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.div-bg {
  background: #404040;
}

.btn {
  background: #757677 !important;
  color: #d2d3d4 !important;
  border-radius: 50px !important;
  padding: 3px 20px !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
