.nft-info {
  display: flex !important;
  min-height: 70vh;
  align-items: center !important;
  margin-top: 4em;
  flex-wrap: nowrap !important;
}

.nft-img {
  height: 90%;
  width: 80%;
  border: 2px solid #757677;
  border-radius: 12px;
  align-items: end;
}

.nft-info .nft-text {
  padding-bottom: 1em;
}

.nft-info .symbol {
  margin-left: 10px;
}

.user-name,
.user-address {
  display: flex;
  align-items: center;
}

.left .buymore-btn {
  width: fit-content !important;
  margin-top: 2em;
}
