.nft-info {
  display: flex !important;
  min-height: 70vh;
  align-items: center !important;
  flex-wrap: nowrap !important;
}

.nft-img {
  height: 50%;
  width: 50%;
}

.user-name,
.user-address {
  display: flex;
  align-items: center;
  /* padding-bottom: 1rem; */
}

.left {
  /* margin-right: 5rem !important; */
}

.right {
  /* margin: 0 0 0 10rem !important; */
}
