.nft-info {
  display: flex !important;
  min-height: 70vh;
  align-items: center !important;
  flex-wrap: nowrap !important;
}

.nft-img {
  height: 90%;
  width: 90%;
  margin-top: 4rem;
  margin-left: 4rem;
  border: 2px solid #757677;
  border-top: none;
  border-left: none;
  padding: 0 2rem 2rem 0;
}

.nft-info .nft-text {
  padding-bottom: 2rem;
}

.nft-info .symbol {
  margin-left: 10px;
}

.user-name,
.user-address {
  display: flex;
  align-items: center;
  /* padding-bottom: 1rem; */
}
