.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 90vh; */
}
#text {
  font-size: 1.5rem;
  transform: translateX(1000px);
}

.landing-page-logo {
  height: 50vh;
  width: 70vw;
  animation: logorotation 650ms;
  margin-top: 8rem;
  margin-bottom: 0rem;
}

.landingpagelogo {
  height: 70px;
  display: block;
  margin: auto;
  margin-top: 4.5em;
  margin-bottom: -5rem;
}

.left-text {
  width: 100%;
  margin-left: 7.9em;
  margin-top: 2em;
  text-align: center;
  font-size: 40px;
}

.right-text {
  text-align: center;
  margin-left: 6.5em;
  width: 100%;
  font-size: 28px;
  margin-top: 3em;
}

.glitch {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 9, 9, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
  transform: translateX(-700px);
}
.landingbtn {
  margin-top: 3em !important;
  padding: 10px 20px !important;
  font-size: 14px !important;
  display: block !important;
  border: 1px solid #d3d4d5 !important;
}
.landingbtn:hover {
  background-color: transparent !important;
  border: 1px solid #d3d4d5 !important;
  color: #d3d4d5 !important;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 9, 9, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 9, 9, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 9, 9, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 9, 9, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 9, 9, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 9, 9, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 9, 9, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes logorotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(36deg);
    height: 70vh;
    width: 70vw;
  }
  30% {
    transform: rotate(54deg);
  }
  40% {
    transform: rotate(72deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(108deg);
  }
  70% {
    transform: rotate(126deg);
  }
  80% {
    transform: rotate(144deg);
  }
  90% {
    transform: rotate(162deg);
  }
  100% {
    transform: rotate(180deg);
    height: 90vh;
    width: 90vw;
  }
}

@media only screen and (max-width: 1025px) {
  .landing-page-logo {
    height: 50vh;
    margin-top: 10rem;
  }

  .landingpagelogo {
    margin-bottom: -12rem;
  }

  .left-text {
    margin-left: 9rem;
    margin-top: 80px;
    font-size: 38px;
  }

  .right-text {
    margin-left: 5rem;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: -50px;
  }
  .landingbtn {
    margin-top: 10px !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 769px) {
  .landing-page-logo {
    height: 40vh;
    margin-top: 10rem;
  }

  .landingpagelogo {
    margin-bottom: -12rem;
    margin-top: 12em;
    height: 50px;
  }

  .left-text {
    margin-left: 7.5rem;
    margin-top: 80px;
    font-size: 26px;
  }

  .right-text {
    margin-left: -10px;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: -50px;
  }
  .landingbtn {
    margin-top: 10px !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 426px) {
  .landing-page-logo {
    height: 30vh;
    margin-top: 10rem;
    transform: rotate(90deg);
  }
  .landingpagelogo {
    margin-bottom: -3em;
    margin-top: 3em;
    height: 50px;
  }

  .left-text {
    margin-left: 155px;
    font-size: 18px;
    width: 130px;
    margin-top: -130px;
  }

  #text {
    font-size: 1rem;
    transform: translateX(700px);
  }

  .right-text {
    margin-left: -80px;
    font-size: 12px;
    margin-top: 75px;
    width: 150px;
    margin-bottom: -80px;
  }
  .landingbtn {
    margin-top: 150px !important;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 376px) {
  .landing-page-logo {
    height: 25vh;
    margin-top: 10rem;
    transform: rotate(90deg);
  }
  .landingpagelogo {
    margin-bottom: -3em;
    margin-top: 3em;
    height: 50px;
  }

  .left-text {
    margin-left: 143px;
    font-size: 16px;
    width: 100px;
    margin-top: -95px;
  }

  #text {
    font-size: 1rem;
    transform: translateX(700px);
  }

  .right-text {
    margin-left: -65px;
    font-size: 11px;
    margin-top: 70px;
    width: 98px;
    margin-bottom: -80px;
  }
  .landingbtn {
    margin-top: 150px !important;
    font-size: 12px !important;
    padding: 4px 16px !important;
  }
}
